@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Setting */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #a3793e;/* #cca463 #ba9152; ffd700*/
}

body {
    position: relative;
    background: #000;
    font-family: 'Roboto', sans-serif;
}   

/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1000;
}

.logo {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    color: white;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
}

.nav {
    display: flex;
}

.nav li {
    position: relative;
    list-style: none;
    margin: 0 20px;
}

.nav li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
}

.nav li .nav-btn::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: var(--primary);
    transition: 0.5s;
}

.nav li .nav-btn:hover::after {
    width: 50%;
}

.nav li .nav-btn:hover {
    color: var(--primary);
}

.nav li .nav-btn.active {
    color: var(--primary);
}

.nav li .nav-btn.active::after {
    width: 50%;
}

.bag {
    position: relative;
    color: white;
    font-size: 1.8em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bag .number {
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 18px;
    border-radius: 50%;
    background: #000;
    font-size: 0.5em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: none;
    position: relative;
    transition: 0.5s;
}

/* Hero Banner Section */
.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh !important;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    background: #111;
    perspective: 1000px;
    transform-style: preserve-3d;
    z-index: 800;
}

.banner::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(paint/border.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.banner .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}

.banner .content h1 {
    color: ffffed;
    font-size: 8em;
    line-height: 1em;
    font-family: 'Great Vibes', cursive;
}

.banner .content h4 {
    color: var(--primary);
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
}

.banner .content p {
    color: #ffffed;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.content-btn {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 25px;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
    width: 200px;
    background: radial-gradient(
        ellipse farthest-corner at right bottom,
        #fedb37 0%,
        #fdb931 8%,
        #9f7928 30%,
        #8a6e2f 40%,
        transparent 80%
    ),
    radial-gradient(
        ellipse farthest-corner at left top,
        #ffffff 0%,
        #ffffac 8%,
        #d1b464 25%,
        #5d4a1f 62.5%,
        #5d4a1f 100%
        );
}

.content-btn:hover {
    background: radial-gradient(
        ellipse farthest-corner at left top,
        #fedb37 0%,
        #fdb931 8%,
        #9f7928 30%,
        #8a6e2f 40%,
        transparent 80%
    ),
    radial-gradient(
        ellipse farthest-corner at right bottom,
        #ffffff 0%,
        #ffffac 8%,
        #d1b464 25%,
        #5d4a1f 62.5%,
        #5d4a1f 100%
        );
}

.banner .painter {
    position: relative;
    display: flex;
    left: 150;
    box-shadow: 0 0 white;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0003);
}

/* Main */
main {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

/* General Section Setting */
section {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 150px 100px 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    z-index: 900;
    overflow-y: auto;
}

section::-webkit-scrollbar {
    width: 0 !important;
}

section.active {
    left: 0;
    height: auto;
    min-height: 100vh;
    transition: 1s;
}

section::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

section h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    letter-spacing: 2px;
    color: white;
}

section h4 {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    letter-spacing: 2px;
    color: var(--primary);
    text-shadow: 0 0 20px var(--primary);
}

section p {
    color: #ddd;
}

section .section-content {
    position: relative;
    z-index: 900;
}

section .content-btn {
    width: 150px;
    float: right;
    padding: 5px 20px;
}

/* History Section */
.history img  {
    width: 100%;
    transition: 0.5s;
}

.history img:hover {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

/* Paintings Section */
.paintings {
    background: url(/paint/bg-painting.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.portfolio-item {
    width: 100%;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}



.portfolio-info h4 {
    font-size: 2em;
    color: var(--primary);
    font-weight: 600;

}

.portfolio-info p {
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
    padding: 0;
}

/* Awards Section */
.awards {
    background: url(paint/border.png) no-repeat;
    background-size: cover;
    background-position: center; 
}

body {
    margin: 0;
    padding: 0;
    color: white;
}

#awards h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5em;
    letter-spacing: 2px;
    color: var(--primary);
    text-shadow: 0 0 20px var(--primary);
}

table {
    width: 80%;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-collapse: collapse;

}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: var(--primary);
}

h1 {
    text-align: center;
    margin-top: 50px;
}

